@font-face {
  font-family: myFont;
  src: url(Twentieth-Century-Condensed-Bold.ttf);
}

/* Body font family */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Button-info */

.btn-info {
  color: #fff;
  background-color: #e923c8;
  border-color: #e923c8;
}
.btn-info:hover {
  color: #fff;
  background-color: #b31e9a;
  border-color: #b31e9a;
}
.btn-info.focus,
.btn-info:focus {
  box-shadow: 0 0 0 0.2rem rgba(235, 26, 172, 0.5);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #fff;
  background-color: #e923c8;
  border-color: #e923c8;
}
.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #b31e9a;
  border-color: #b31e9a;
  box-shadow: 0 0 0 0.2rem rgba(235, 26, 172, 0.5);
}
.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(235, 26, 172, 0.5);
}

/* Button-secondary */

.btn-secondary {
  color: #fff;
  background-color: #995823;
  border-color: #995823;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #683d19;
  border-color: #683d19;
}
.btn-secondary.focus,
.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(85, 44, 11, 0.5);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #fff;
  background-color: #995823;
  border-color: #995823;
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #683d19;
  border-color: #683d19;
  box-shadow: 0 0 0 0.2rem rgba(85, 44, 11, 0.5);
}
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(85, 44, 11, 0.5);
}

/* Button-warning */

.btn-warning,
.btn-warning:hover,
.btn-warning.disabled,
.btn-warning:disabled,
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show > .btn-warning.dropdown-toggle {
  color: #fff;
}

.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show > .btn-warning.dropdown-toggle {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show > .btn-danger.dropdown-toggle {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

/* Github icon */

a.link-dark {
  color: rgb(27, 27, 27);
}

a.song-link {
  color: #000;
}

.pendriveContainer {
  background-image: url(../images/1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: brightness(100%);
  padding: 545px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .pendriveContainer {
    padding: 180px;
    background-size: contain;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .pendriveContainer {
    padding: 345px;
    background-size: contain;
  }
}

@media (min-width: 992px) {
  .pendriveContainer {
    padding: 500px;
    background-size: cover;
  }
}

.top-tracks-list {
  list-style: none;
  position: absolute;
  text-transform: uppercase;
  font-family: myFont;
  color: black;
  font-size: 1.8rem;
  line-height: 3.5rem;
  text-align: center;
  margin-bottom: 30px;
  top: 27%;
  left: 2%;
  padding: 20px;
  border-radius: 10px;
  max-width: 522px;
}

@media (max-width: 400px) {
  .top-tracks-list {
    top: 26%;
    left: 2%;
    font-size: 0.6rem;
    line-height: 1.15rem;
    padding: 12px;
    max-width: 47%;
    margin-bottom: -14px;
  }
}

@media (min-width: 401px) and (max-width: 767px) {
  .top-tracks-list {
    top: 24%;
    left: 2%;
    font-size: 0.65rem;
    line-height: 1.3rem;
    padding: 12px;
    max-width: 47%;
    margin-bottom: -14px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .top-tracks-list {
    top: 28%;
    left: 2%;
    font-size: 1.2rem;
    line-height: 2.2rem;
    padding: 12px;
    max-width: 47%;
    margin-bottom: -14px;
  }
}

.top-tracks-list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  font-family: myFont;
  font-size: 2.3rem;
  color: #fff;
  position: absolute;
  top: 15%;
  left: 25%;
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 10px;
  max-width: 100%;
}

@media (max-width: 379px) {
  .title {
    top: 17%;
    font-size: 0.8rem;
    padding: 10px;
  }
}

@media (min-width: 379px) and (max-width: 400px) {
  .title {
    top: 15%;
    font-size: 0.8rem;
    padding: 10px;
  }
}

@media (min-width: 401px) and (max-width: 767px) {
  .title {
    top: 12%;
    font-size: 1rem;
    padding: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .title {
    top: 17%;
    font-size: 1.7rem;
    padding: 10px;
  }
}

@media (min-width: 992px) {
  .title {
    top: 14%;
    font-size: 2.5rem;
    padding: 20px;
  }
}

.album-covers {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(5, 0.5fr);
  gap: 3px;
  transform: scale(0.75);
  top: 43%;
  left: 45%;
}

.album-covers img {
  width: 100%;
  height: auto;
}
